.ion-text-end {
    color: #000; /* Color inicial del texto */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
  }
  
  .ion-text-end:hover {
    color: #007bff; /* Color del texto al pasar el mouse */
  }