<ion-header color="primary" class="">
  <ion-toolbar>
    <ion-buttons slot="start">

      <!-- back button -->
      <ion-back-button *ngIf="backbutton" [defaultHref]="backbutton"></ion-back-button>


      <!-- close button -->
      <ion-button (click)="dismissModal()" *ngIf="isModal">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>


      

      </ion-buttons>
    <ion-title>
      <strong>{{title}}</strong>
      <div class="admin">DJ EventHub</div>
      </ion-title>
  </ion-toolbar>
</ion-header>