<app-header title="Mis Eventos" >


</app-header>

<ion-content>


  <ion-fab *ngIf="userRole === 'Productor'"  horrizontal="end" vertical="bottom"  slot="fixed">
    <ion-fab-button  (click)="addUpdateEvent()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
    
  <ion-list>
    <ion-item  (click)="addUpdateEvent(event)" class="product-item" *ngFor="let event of events">
     
        <ion-avatar>
          <img [src]="event.Image">
        </ion-avatar>
        <ion-label><div class="name">{{event.name}}</div>
        </ion-label>
      
      
        <ion-button slot="end" (click)="openApplicantsList(event.id, $event)" color="secondary">
          Ver Postulantes
        </ion-button>
      
        
    </ion-item> 

  </ion-list>

  <ion-list *ngIf="userRole === 'DJ'" >
    <ion-item class="product-item"  *ngFor="let evento of postulatedEvents ">
      
        <ion-avatar>
          <img [src]="evento.Image">
        </ion-avatar>
        <ion-label><div class="name">{{evento.name}}</div>

        <div>{{evento.date | date: 'dd/MM/yyyy, h:mm a'}}</div></ion-label>
      
      
    
        
    </ion-item>
  </ion-list>
  
      
      
  
  


</ion-content>
