<app-header title="Mis Eventos" >


</app-header>

<ion-content>


  <ion-fab *ngIf="userRole === 'Productor'"  horrizontal="end" vertical="bottom"  slot="fixed">
    <ion-fab-button  (click)="addUpdateEvent()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
    
  <ion-list>
    <ion-item  (click)="addUpdateEvent(event)" class="product-item" *ngFor="let event of events">
      <ion-item >
        <ion-avatar>
          <img [src]="event.Image">
        </ion-avatar>
        <ion-label><div class="name">{{event.name}}</div>
        </ion-label>
      </ion-item>
      

      
        
    </ion-item> 

  </ion-list>
  
      
      
  
  


</ion-content>
