<app-header backbutton="/auth" title = "Recuperar cuenta"> </app-header>



<ion-content>
  
  <div class="d-flex-center">

   <form  [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()" >
  
    <app-logo></app-logo>

    <!--=============email=============-->
      <app-custom-input 
      autocomplete="email"
      icon="mail-outline"
      [Control]="form.controls.email"
      type="email"
      label="correo"
      ></app-custom-input>
    
      
      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <div *ngIf="form.controls.email.errors?.['required']">el correo es requerido</div>
        <div *ngIf="form.controls.email.errors?.['email']">ingrese un correo valido</div>
      </div>

    



      <ion-button type="submit" [disabled]="form.invalid" expand="block" color="primary">Recuperar contraseña
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>

      
  
  
    
    </form>
  
  </div>

</ion-content>
