.map-container {
    width: 100%; /* Usa el 100% del ancho del contenedor */
    height: 300px; /* Puedes ajustar la altura a lo que necesites */
    margin-bottom: 20px; /* Espacio entre el mapa y el botón */
  }
  
  #map {
    width: 100%;
    height: 100%;
  }
  